@import "../../styles/colors";

.ReservationCard {
  border: 1px solid $Grey;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__left {
    width: 10rem;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    * {
      margin: 0;
    }
  }

  &__right {
    width: 120px;
    height: 80px;
    background: rgba(10, 85, 135, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
        margin: 0.1rem;
        width: 75px;
        text-align: left;
    }
  }
}
