@import "../../styles/colors";

.LogIn {
    margin: 1rem;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.threeCornerRectangle{
    width: 109%;
    background-color: $Blue;
    margin: -1rem;
    height: 40vh;
    min-height: 200px;
    max-height: 344px;
    box-sizing: content-box;
    border-radius: 0 0 172px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: $White;
        letter-spacing: 3px;
    }
}

.RememberMe{
    position: relative;
    top: -1rem;
    left: 0.5rem;
}