

.Home{
    margin-top: 40px;
    
    &__Building{
        padding: 0rem;
        margin: 1.5rem 0 1.75rem;
        border-radius: 0.25rem;
        border: 0.25px solid #B9B9B9;

        p{
            padding-left: 1rem;
        }
    }

    h2{
        padding-top: 1rem;
    }
}