.availabledeskscontainer {
  &__floorlayout {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-header {
    }

    &-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & div {
        min-width: 40%;
      }
    }
  }
}
