@import "../../styles/_colors";

.availabledeskscontainer{
    margin-top: 40px;
    
    .floorlayout{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}