
.Question{
    &__Title{
        text-align: center;
    }

    ul{
        list-style-position: outside;

        li {
            padding-bottom: 0.5rem;
        }
    }

    .centered{
        text-align: center;
    }
    .ButtonFlex{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    
        > * {
            min-width: 45%;
            width: 100%;
        }
    }
}

