
.Question{
    &__Title{
        text-align: left;
    }

    &__Instructions{
        margin-left: 0.5rem;
    }

    &__CheckboxList{
        margin-left: 1rem;
    }

    &__Body {
        padding-top: 1.5rem;
    }

    ul{
        list-style-position: outside;
        padding-left: 1rem;

        li {
            padding-bottom: 0.5rem;
        }
    }

    .centered{
        text-align: center;
    }
    .ButtonFlex{
        position: absolute;
        bottom: 20px;
        width: calc(100% - 1rem);
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    
        > * {
            min-width: 45%;
            width: 100%;
        }
    }
}

