@import "../../styles/colors";

.deskselectionmodal {
  z-index: 2000;
  width: 104%;
  height: 250px;
  position: relative;
  top: -150px;
  left: -8px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $White;
  

  &__dialog {
    z-index: 3000;
    background-color: $White;

    width: 319px;
    // height: 100%;
    padding: 1rem;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;

    &__top {


      &-close {
        position: absolute;
        top: 4px;
        right: 4px;

        width: 24px;
      }
    }

    &__body {
      flex-grow: 1;

      &__choice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      


        & div {
          width: 50%;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;



        }

        .narrow{
          width: 25%;
        }
      }
    }

    &__actions {
      padding-top: 1rem;
    }
  }

  .flex-align{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .capitalize{
    text-transform: capitalize;
  }
}
